---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
	<div class="">
        <div class="text-6xl">Weekly meal</div>

        <div class="sr-element sr-products" data-embed="multiple_products"><script type="application/json">{"publishable_key":"sr_live_pk_dbad9d35a347e855ccace50f49efa04e9d89","options":{"products_to_display":"all","categories":[],"product_size":"small","image_dimension_value":"crop","image_aspect_ratio":"square","button_style":"minimal","variation_style":"on_hover","open_product_in":"popup","button_position":"inline","product_default_sorting_order":"name_asc","product_pagination_limit":"8","hide_out_of_stock":"0"},"includes":{"show_search_box":"0","show_sort_by":"0","show_per_page":"0","show_category_dropdown":"1","show_currency_dropdown":"0","show_language_dropdown":"0","show_product_filters":"0","show_product_name":"1","show_product_price":"1","show_product_image":"1","show_product_summary":"0","open_modal_on_image_click":"1","show_view_product_button":"1","show_add_to_cart_button":"1","show_min_max_order_quantity":"0","show_sale":"1","show_free_shipping":"0","show_new_product":"1","show_digital_download":"0","show_pwyw":"0","image_swap":"1","show_button_icons":"1"},"product_popup":{"show_product_name":"1","show_product_price":"1","show_product_summary":"1","show_product_description":"1","show_product_image":"1","show_select_quantity":"1","show_image_thumbnails":"1","show_product_reviews":"1","show_product_sku":"0","show_product_categories":"1","show_social_sharing_icons":"0","show_related_products":"0","thumbnail_layout":"horizontal_below","image_dimension_value":"crop","image_aspect_ratio":"square","variation_styling":"dropdown","show_min_max_order_quantity":"1","show_sale":"1","show_free_shipping":"0","show_new_product":"1","show_digital_download":"0","show_pwyw":"0","show_product_tabs":"1","image_zoom":"0","lightbox_gallery":"1"},"styles":{"align_content":"left","product_title":"#314d5d","product_price":"#2d2d2d","product_summary":"#777777","button_background":"#233642","button_color":"#ffffff","view_product_button_background":"#233642","view_product_button_color":"#ffffff","view_cart_button_background":"#741b47","view_cart_button_color":"#ffffff","product_background":"#ead1dc","modal_background":"#ead1dc","button_font_weight":"lighter","popup":{"colors":{"product_title":"#333","product_price":"#666666","product_summary":"#666666","button_background":"#e26ea7","button_color":"#ffffff","product_active_tab_background":"#d5a6bd"},"modal_layout":"row","modal_image_width":"50","image_radius":"10","product_name_font_family":"Verdana","product_summary_font_family":"Verdana","product_price_font_family":"Verdana","buy_view_cart_button_font_family":"Verdana","product_description_font_family":"Verdana"},"embed_width":1100,"image_radius":"10","text_alignment":"left","product_name_font_family":"Verdana","product_price_font_size":"14","product_summary_font_family":"Verdana","product_price_font_family":"Verdana","button_font_family":"Verdana"}}</script></div><script async src="https://cdn.shoprocket.io/loader.js"></script>
        
        <div id='product-component-1691437739126'></div>
        
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: '73e6ba-2.myshopify.com',
      storefrontAccessToken: 'e77d235f00892a1527d693ae989b0690',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '8529463804183',
        node: document.getElementById('product-component-1691437739126'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        ":hover": {
          "background-color": "#a260b6"
        },
        "background-color": "#b46bca",
        ":focus": {
          "background-color": "#a260b6"
        }
      }
    },
    "contents": {
      "img": false,
      "button": false,
      "buttonWithQuantity": true,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        ":hover": {
          "background-color": "#a260b6"
        },
        "background-color": "#b46bca",
        ":focus": {
          "background-color": "#a260b6"
        }
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        ":hover": {
          "background-color": "#a260b6"
        },
        "background-color": "#b46bca",
        ":focus": {
          "background-color": "#a260b6"
        }
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#b46bca",
        ":hover": {
          "background-color": "#a260b6"
        },
        ":focus": {
          "background-color": "#a260b6"
        }
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
        
        <!-- <div class="items_store flex gap-5 justify-around">
            <div id="meal_1" class="meal">
                <Card title="Meal 1" body="Beef and Rice" href="weekly-meal/meal_1"
                img_url="https://static.wixstatic.com/media/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png/v1/fill/w_650,h_650,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png"></Card>
                <button class="snipcart-add-item"
                    data-item-id="meal_1"
                    data-item-price="7.99"
                    data-item-description="Pos, beef and rice, thats it."
                    data-item-image="https://static.wixstatic.com/media/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png/v1/fill/w_650,h_650,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png"
                    data-item-name="Meal 1">
                    Add to cart
                </button>
            </div>

            <div id="meal_2" class="meal">
                <Card title="Meal 2" body="Chicken and Rice" href="weekly-meal/meal_2"
                img_url="https://static.wixstatic.com/media/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png/v1/fill/w_650,h_650,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png"></Card>
                <button class="snipcart-add-item"
                    data-item-id="meal_2"
                    data-item-price="7.99"
                    data-item-description="Pos, chicken and rice, thats it."
                    data-item-image="https://static.wixstatic.com/media/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png/v1/fill/w_650,h_650,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/07c605_f310ef1810c34997b2c6d11fd9534059~mv2.png"
                    data-item-name="Meal 2">
                    Add to cart
                </button>
            </div>
        </div> -->
    </div>
</Layout>

<style is:global>
    
    .sr-container {
        justify-content: space-evenly !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    @media (max-width: 600px) {
        .sr-item.sr-col-3 {
            max-width: 200px !important;
        }
    }
</style>
