---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
	<div class="prose m-auto">
        <h1> You have any question? </h1>
        <p> Write us to our phone number, instagram, or email, and we would be glad to resolve any of your doubts.</p>
        <ul>
            <li>Phone: <a href="tel:+1-407-536-3585"> 407-536-3585</a></li>
            <li>Instagram: <a href="//www.instagram.com/andreaskitchenmeals">andreaskitchenmeals</a></li>
            <li>Email: <a href="mailto:info@andreaskitchenmeals.com">info@andreaskitchenmeals.com</a></li>
        </ul>
    </div>
</Layout>

<style>
</style>
