---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
	<div class="prose m-auto">
        <h1> You have any question? </h1>
        <p> Write us to our phone number, instagram, or email, and we would be glad to resolve any of your doubts.</p>
        <ul>
            <li>Phone: </li>
            <li>Instagram: </li>
            <li>Email: </li>
        </ul>
    </div>
</Layout>

<style>
</style>
