---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
    <div class="w-9/12 m-auto">
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">How does our service work?</span></strong><br class="wixui-rich-text__text" />Every week, we introduce a new menu with five options of delicious meals that is published every Tuesday. These meals cost $7.49 plus taxes, with a minimum order of 7 meals per week. To ensure access to all our options, we recommend placing your order by Friday at 5 p.m.</p>
        <p class="font_8 wixui-rich-text__text">Order deliveries take place on Sundays, and you have the option to pick them up at our location or request home delivery for an additional charge, the price of which depends on your location.</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">Are there only five meal options?</span></strong><br class="wixui-rich-text__text" />While we offer five meal options on our weekly menu, we also have additional meals always available to add to your order, as well as desserts.</p>
        <p class="font_8 wixui-rich-text__text">Please note that you can mix and match any of the products on our website to reach the minimum of 7 meals per week (desserts are separate).</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">Do you offer deliveries?</span></strong><br class="wixui-rich-text__text" />Yes, we can deliver our products within a radius of up to 25 miles from our location.</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">What is the delivery cost?</span></strong><br class="wixui-rich-text__text" />Delivery costs range from $7 to $15, depending on your location. This information will be available at the time of checkout. You can see various delivery rates, please choose the most economical one, as choosing another option will be considered a tip for the Dasher.</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">When is the menu published?</span></strong><br class="wixui-rich-text__text" />We publish our new menu every Tuesday on this website and share it on our Instagram profile (@andreaskitchenmeals).</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">What if I have a food allergy?</span></strong><br class="wixui-rich-text__text" />We will do our best to accommodate your food allergies if you inform us about them. However, it's important to note that all our meals are prepared in the same facility, where products containing nuts, soy, dairy, and seafood, among others, are also handled. Andreas Kitchen Meals does not assume responsibility for potential health issues related to food allergies.</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">What is the shelf life of the meals?</span></strong><br class="wixui-rich-text__text" />Our meals are designed to maintain their freshness for 6-7 days from the day you receive them (Sunday).</p>
        <p class="font_8 wixui-rich-text__text">You can store them in your standard refrigerator, although we do not recommend freezing them to extend their shelf life, as this can affect their quality, and we are not responsible for any damage after the sixth day.</p>
        <p class="font_8 wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></p>
        <p class="font_8 wixui-rich-text__text"><strong><span class="wixui-rich-text__text">How do you heat the meals and where?</span></strong><br class="wixui-rich-text__text" />All our meals can be heated in the microwave for 2:00 minutes. If you prefer, you can also heat them in a skillet or oven, but be sure to remove the food from the container before doing so.</p>    </div>
</Layout>

<style>
    p {

    }
</style>
