---
import Layout from '../layouts/Layout.astro';
import SectionFull from '../components/Section_Full.astro';
import SectionDuo from '../components/Section_Duo.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
	<SectionFull bg="andreabg.webp" slogan="Healthy. Delicious. Affordable."
	btn_text="See Weekly Meal Plan" btn_url="/weekly-meal"></SectionFull>
	<div class="">
		<image class="m-auto" src="AKMsteps.webp">
	</div>
	<SectionDuo title="About us"
		p1="Andreas Kitchen Meals was born in a small family who decided to venture into selling delicious lunches in Orlando, Florida with the aim of offering the best quality within reach of everyone. We have designed a structure to achieve this goal. We have a talented chef with extensive experience in Culinary Arts, who is responsible for creating delicious and healthy recipes."
		p2="In summary, Andreas Kitchen Meals is dedicated to offering high-quality meals at competitive prices in Orlando. Our focus is on providing convenient, affordable, and nutritious meals to our customers."
		bg="AKMfinger.jpg"></SectionDuo>
</Layout>

<style>
</style>
