---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrea's Kitechen Meals | meals prep | Orlando, Fl, USA">
<div class="prose text-justify m-auto">
    <h1>Terms and Conditions</h1>

    <p> Andreas Kitchen Meals ("Andreas Kitchen Meals", "we", "us" or "our") welcomes you to our website, www.andreaskitchenmeals.com (our "Website"), to which access is provided to the general public. Please read these Terms of Use carefully. These Terms of Use apply solely to your use of the Website and do not modify any other agreement you may have with us.</p>

    <h2> 1. ACCEPTANCE OF THE TERMS OF USE</h2>

    <p> By visiting, logging in or using the Website, you agree to all terms and conditions contained or referred to in these Terms of Use. If you do not agree to each of the Terms of Use and our Privacy Policy, please leave our Website.</p>

    <h2> 2. CONTENT OF THE WEBSITE</h2>

    <p> Andreas Kitchen Meals posts information on its websites as a convenience to its visitors. Except where products can be purchased, Andreas Kitchen Meals product information is provided for informational purposes only. While Andreas Kitchen Meals tries to provide accurate and timely information, there may be unintentional technical or factual inaccuracies and typographical errors.</p>

    <h2> 3. MODIFICATIONS TO THE TERMS OF USE</h2>

    <p> We reserve the right, at our sole discretion, to modify or change these Terms of Use at any time and without notice. Your continued use of the Website following the posting of any changes to the Terms of Use constitutes your acceptance of the changes to the Terms of Use. If we change these Terms of Use, we will provide a notice at the top of the page with the effective date of the revised Terms of Use.</p>

    <h2> 4. USER CONDUCT</h2>

    <p> You agree not to use any device, software or other instrument to interfere or attempt to interfere with the proper working of the Website, and not to take any action that imposes an unreasonable or disproportionately large load on Andreas Kitchen Meals' infrastructure.</p>

    <p> You further agree not to use this Website: (a) to transmit, post, distribute, store or destroy material, including without limitation Website content, in violation of any applicable law or regulation, including without limitation the laws o regulations governing the collection, processing or transfer of personal information; (b) in a way that may infringe the copyright, trademark, trade secret, or other intellectual property rights of any third party, or violate the rights of privacy, publicity, or other personal rights of any third party; or (c) in a defamatory, obscene, threatening, abusive, or hateful manner toward any person.</p>

    <p> In addition, you will not violate or attempt to violate the security of this Website. Violations of system or network security may give rise to civil and/or criminal liability. Andreas Kitchen Meals will investigate occurrences that may involve such violations and may involve and cooperate with law enforcement authorities in the prosecution of Website users who are involved in such violations.</p>

    <p> Andreas Kitchen Meals reserves the right to terminate your access to the Website if you violate any provision of these Terms of Use and to exercise all available remedies at law or in equity. You agree, at your own expense, to defend, indemnify, and hold Andreas Kitchen Meals, its affiliates, employees, shareholders, legal representatives, agents, and partners harmless from any and all claims, demands, actions, costs, liabilities, and damages, including attorney's fees. attorneys and any other type of expenses, derived from your use of or access to the Website in any manner that is not expressly authorized by these Terms of Use. You agree not to transmit viruses, computer code, files or programs that may interrupt, limit or interfere with the functionality of any software, hardware, database or file, or communications equipment owned or leased by Andreas Kitchen Meals.</p>

    <h2> 5. PRIVACY POLICY</h2>

    <p> Please review our Privacy Policy, which also governs your visit to the Website, to understand our practices regarding the use and protection of your personal information. The terms of the Privacy Policy are incorporated by reference into this document. We make no warranties and disclaim all representations or warranties regarding the adequacy of the security measures used for data storage and handling. We are not responsible for any damages (whether actual, consequential, special, or incidental) resulting from a breach of our Privacy Policy due to a security breach or technical malfunction.</p>

    <h2> 6. OWNERSHIP OF THE WEBSITE CONTENT</h2>

    <p> Except as expressly provided in these Terms of Use, all right, title and interests in this Website, including all software and code that make up and operate this Website, and all text, job applications, photographs, logos, images, illustrations, graphics, audio, video, and audio and video clips, and other materials provided through this Website (collectively, "Content"), are the property of Andreas Kitchen Meals or our business partners or suppliers. This Website is protected by trademark, service mark, trade dress, copyright, patent, trade secret, and other intellectual property laws. In addition, all Content on this Website is a collective work protected by United States and international copyright laws and treaties, and we own the copyright in the selection, coordination, arrangement, and enhancement of the Content on this website.</p>

    <p> Patents may be applied for or granted to protect the intellectual property rights of Andreas Kitchen Meals.</p>

    <p> Andreas Kitchen Meals grants you a limited license to access and use the Website and the Content solely for NON-COMMERCIAL USES and only in the</p>

    <p>  to the extent that such use does not violate these Terms of Use, including, without limitation, the prohibitions listed in the Terms of Use. You may download, print, copy, and share the Content solely for your personal, non-commercial use, provided that you do not modify or alter the Content in any way, remove or change any copyright or trademark notice, or violate these Terms of Use in any way.</p>

    <p> Andreas Kitchen Meals grants a limited license to print media publishers to use the logos and product photos found in our Image Gallery solely for the purpose of illustrating an article. Failure to comply with this legal statement will constitute a breach of contract and will violate the copyright, trademark and other intellectual property rights of Andreas Kitchen Meals.</p>

    <p> All trademarks not owned by Andreas Kitchen Meals that appear on this Website are the property of their respective owners.</p>

    <h2> 7. UNSOLICITED IDEAS</h2>

    <p> Andreas Kitchen Meals welcomes your comments and suggestions regarding the Website and its products, but Andreas Kitchen Meals does not seek or solicit any confidential or proprietary ideas, suggestions, or other creative materials. However, if you submit any such materials, including, without limitation, comments, data, questions, feedback, product ideas, technical knowledge, applications, or suggestions, despite this request, such materials become the sole property of Andreas Kitchen Meals and they will not be considered confidential or proprietary, even if they are labeled as confidential or proprietary. You will not be entitled to receive compensation for Andreas Kitchen Meals' use of such materials for any purpose. You will have no right to confidentiality in these communications and Andreas Kitchen Meals is free to reproduce, use, disclose and distribute these communications to others without limitation.</p>

    <h2> 8. DISCLAIMER OF WARRANTIES</h2>

    <p> THE WEBSITE IS PROVIDED BY ANDREAS KITCHEN MEALS ON AN "AS IS" AND "AS AVAILABLE" BASIS. ANDREAS KITCHEN MEALS AND ITS AFFILIATES AND EMPLOYEES MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, REGARDING THE OPERATION OF THE WEBSITE OR THE INFORMATION, CONTENT, MATERIALS OR SERVICES PROVIDED ON THE WEBSITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THE WEBSITE IS AT YOUR SOLE RISK. To the maximum extent allowed by the applicable law, Andreas Kitchen Meals renounces all guarantees, express or implicit, included, but not limited to, the implicit guarantees of merchability, suitability for a particular purpose and title, not infringement, security or precision WITH RESPECT TO ANY USE OF THE WEBSITE AND ANY INFORMATION, CONTENT, MATERIALS OR SERVICES PROVIDED THROUGH THE WEBSITE. ANDREAS KITCHEN MEALS DOES NOT WARRANT THAT THE WEBSITE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. NO INFORMATION OR ADVICE, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM ANDREAS KITCHEN MEALS OR THROUGH THE WEBSITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF USE.</p>

    <h2> 9. LIMITATION OF LIABILITY</h2>

    <p> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ANDREAS KITCHEN MEALS AND ITS AFFILIATES, EMPLOYEES, DIRECTORS, SHAREHOLDERS, AGENTS, AND SUPPLIERS SHALL NOT BE LIABLE FOR DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION). OTHERS, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF DATA OR ANY OTHER TYPE OF PECUNIARY LOSS) ARISING OUT OF OR IN CONNECTION WITH THE USE OF OR FAILURE TO INABILITY TO USE THE WEBSITE OR THE CONTENT, EVEN IF ANDREAS KITCHEN MEALS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN THE EVENT THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL DAMAGES IS NOT ALLOWED, THE ENTIRE LIABILITY OF ANDREAS KITCHEN MEALS AND ITS AFFILIATES, EMPLOYEES, DIRECTORS, SHAREHOLDERS, AGENTS AND SUPPLIERS FOR ANY CLAIM RELATED TO THE WEBSITE OR THE TERMS OF USE WHETHER IN CONTRACT, TORT, NEGLIGENCE OR ANY OTHER LEGAL THEORY, SHALL BE LIMITED TO THE AMOUNT YOU PAID TO ANDREAS KITCHEN MEALS FOR USE OF THE WEBSITE IN THE TWELVE (12) MONTHS PRECEDING THE INCIDENT GIVING RISE TO THE CLAIM.</p>

    <h2> 10. LINKS TO OTHER WEBSITES</h2>

    <p> The Website may contain links to other websites that are not owned or controlled by Andreas Kitchen Meals. We have no control over these websites and are not responsible for their content, privacy policies or practices. By clicking on links to other websites, you understand that the Andreas Kitchen Meals Terms of Use and Privacy Policy no longer apply and that you should review the terms and policies applicable to those websites.</p>

    <h2> 11. APPLICABLE LAW AND JURISDICTION</h2>

    <p> These Terms of Use shall be governed by and construed</p>

    <p>  in accordance with the laws of the State of California, without regard to its principles of conflicts of laws. Any dispute arising out of or related to these Terms of Use or your use of the Website shall be submitted to the exclusive jurisdiction of the state and federal courts located in Los Angeles County, California.</p>

    <h2> 12. GENERAL PROVISIONS</h2>

    <p> If any provision of these Terms of Use is held invalid or unenforceable, such provision shall be construed to the fullest extent permitted by applicable law to reflect the original intentions of the parties, and the other provisions shall remain in full force and effect. The failure of Andreas Kitchen Meals to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision, unless acknowledged and agreed to in writing by Andreas Kitchen Meals. These Terms of Use constitute the entire agreement between you and Andreas Kitchen Meals with respect to the use of the Website and supersede all prior or contemporaneous agreements, communications and proposals, whether electronic, oral or written, between you and Andreas Kitchen Meals with respect to to the Website.</p>

    <h2> 13. WAIVER</h2>

    <p> In any case in which Andreas Kitchen Meals fails to enforce its rights under this agreement, such failure shall not constitute a waiver of any rights under these Terms of Use.</p>

    <h2> 14. SPECIAL DIET CONDITIONS</h2>

    <p> Andreas Kitchen Meals team members are not dietitians or doctors. If you have a condition that requires a special diet or special nutritional needs, please consult your doctor or specialist before placing an order.</p>

    <h2> 15. PRECISION OF NUTRITIONAL VALUES</h2>

    <p> The content comes from sources believed to be accurate, but may contain inaccuracies or typographical errors.</p>

    <h2> 16. FOOD ALLERGEN DISCLAIMER</h2>

    <p> Our meals may include peanuts, tree nuts, soy, milk, eggs, and wheat. While we take steps to minimize the risk of cross-contamination, we cannot guarantee that any of our products are safe for people with allergies to peanuts, tree nuts, soy, milk, eggs, or wheat.</p>
</div>
</Layout>

<style>
</style>
